*
!*.yaml
!.yamllint
!*.py
!*.png
!*.md
!automation
!config
!scripts
!shell
!images
!tensorflow
!cameras
!blueprints
!**/*/*.yaml
!.gitignore
secrets.yaml
known_devices.yaml
entity_registry.yaml
!.storage
!.storage/lovelace
