homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !env_var LATITUDE
  longitude: !env_var LONGITUDE
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 318
  # metric for Metric, imperial for Imperial
  unit_system: us_customary
  country: US
  currency: USD
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/New_York

  external_url: https://hass.eviljungle.com
  internal_url: https://hass.eviljungle.com

  auth_providers:
    - type: homeassistant

# Packages
  packages:
    security: !include security.yaml

  allowlist_external_dirs:
    - /config/www/camera

default_config:

logger:
  default: info
  logs:
    homeassistant.components.automation.update_tesla3_location_as_mqtt_location_updates: warning
    homeassistant.components.automation.update_tesla2_location_as_mqtt_location_updates: warning
    homeassistant.components.automation.update_tesla_location_as_mqtt_location_updates: warning

http:
  ip_ban_enabled: false
  login_attempts_threshold: 5
  use_x_forwarded_for: true
  trusted_proxies:
    - 10.2.0.0/24
    - 10.42.0.0/16
    - 10.43.0.0/16
    - 10.0.7.0/24
    - 10.0.6.0/24
    - 10.0.2.0/24
    - 10.244.0.0/16


# Discover some devices automatically
# discovery:

# persist states between restarts
recorder:
  auto_purge: true
  purge_keep_days: 30
  exclude:
    entities:
      - sensor.date
      - sensor.date_time
      - sensor.time
      - sensor.time_utc
      - sensor.system_time_of_day_detailed
      - sensor.network_traffic
    entity_globs:
      - sensor.tx_*
      - sensor.*_tx
      - sensor.*_tx_*
      - sensor.rx_*
      - sensor.*_rx
      - sensor.*_rx_*

prometheus:
  namespace: hass

mqtt: !include config/mqtt.yaml
script: !include_dir_merge_named scripts
sensor: !include config/sensors.yaml
# My own handmade automations
automation manual: !include_dir_merge_list automation/
# Automations I create in the UI
automation ui: !include automations.yaml
shell_command: !include shell/shell.yaml
zone: !include config/zones.yaml
group: !include groups.yaml

input_select:
  set_biprofile:
    name: "Set BI Profile"
    initial: "-"
    options:
      - "-"
      - "home"
      - "away"
  presence:
    name: "People to track"
    initial: "family"
    options:
      - "family"
      - "parents"
      - "kids"

input_boolean:
  # garage stuff
  previous_garage_open:
    name: Track if the garage was previously open
    initial: on
  previous_garage2_open:
    name: Track if the garage2 was previously open
    initial: on
  previous_garage_closed:
    name: Track if the garage was previously closed
    initial: on
  previous_garage2_closed:
    name: Track if the garage2 was previously closed
    initial: on
  auto_garage_doors:
    name: Automatically open/close garage doors
    initial: on
  auto_garage_doors_night:
    name: Automatically close garage doors at night
    initial: on

  # people
  jeff_occupancy:
    name: Jeff is home (bluetooth)
  jen_occupancy:
    name: Jen is home (bluetooth)
  ansley_occupancy:
    name: Ansley is home (bluetooth)
  brinley_occupancy:
    name: Brinley is home (bluetooth)
  track_ansley:
      name: Track Ansley Presence
  track_brinley:
      name: Track Brinley Presence
  track_jen:
      name: Track Jen Presence
  track_jeff:
      name: Track Jeff Presence

  # auto-run stuff
  auto_run_basement_fan:
    name: Auto-run basement fan at noon, daily
    initial: on
  auto_arm_disarm_alarm_night:
    name: Arm alarm at midnight and disarm at 5am
  auto_close_garage_door_jen:
    name: Automatically close Jen's Garage Door if open for 30 mins
  auto_close_garage_door_jeff:
    name: Automatically close Jeff's Garage Door if open for 30 mins
  auto_arm_alarm_when_gone:
    name: Automatically arm alarm when no one is home
    initial: on
  auto_disarm_alarm_when_home:
    name: Automatically disarm alarm when someone comes home
    initial: on
  
  # notifications
  camera_front_notify:
    name: Front camera notifications
  camera_driveway_notify:
    name: Driveway camera notifications
  camera_porch_notify:
    name: Porch camera notifications
  camera_pool_notify:
    name: Pool camera notifications
  camera_basement_notify:
    name: Basement camera notifications
  camera_doorbell_notify:
    name: Doorbell camera notifications
  notify_alarm_armed:
    name: Notification when alarm is armed
    initial: on
  notify_alarm_disarmed:
    name: Notification when alarm is disarmed
    initial: on
  notify_alarm_triggered:
    name: Notification when alarm is triggered
    initial: on
  notify_garage_doors_home:
    name: Notification when garage doors are open/closed and we are home
    initial: on
  notify_garage_doors_away:
    name: Notification when garage doors are open/closed and we are away
    initial: on

notify:
  - name: ALL_DEVICES
    platform: group
    services:
      - service: mobile_app_jeffsphone
      - service: mobile_app_jensphone

influxdb:
  host: influxdb.monitoring
  port: 8086
  max_retries: 10

google_assistant:
  project_id: home-assistant-7c48d
  secure_devices_pin: !env_var SECURE_DEVICES_PIN 
  service_account: !include home-assistant-7c48d-e078848c9fb0.json
  report_state: true

tts:
  - platform: google_translate
    cache: false
    # cache_dir: /tmp/tts
    time_memory: 300
    service_name: google_say

rest_command:
  wake_wsl:
      url: 'https://opnsense.eviljungle.com:1443/api/wol/wol/set'
      method: POST
      payload: '{"wake":{"interface": "opt3","mac": "d4:5d:64:b4:d8:33"}}'
      content_type:  'application/json'
      username: !env_var OPNSENSE_USER 
      password: !env_var OPNSENSE_KEY

template:
  ## Home presence
  - sensor:
    - name: "Anyone Home"
      unique_id: anyone_home
      state: >
        {% if is_state('group.family', 'home') %}
          home
        {% else %}
          not_home
        {% endif %}

  ## Jeff's garage
  - sensor:
    - name: "Garage Status"
      unique_id: garage_status
      state: >
        {% set door_state = states('cover.jeff_garage_door') %}
        {% if door_state in ['unknown', 'unavailable'] %}
          n/a
        {% else %}
          {{ door_state | title }}
        {% endif %}

    - name: "Garage Car Present"
      unique_id: garage_car_present
      state: >
        {% set door_state = states('cover.jeff_garage_door') %}
        {% set vehicle = states('binary_sensor.og_jeff_vehicle') %}
        {% if door_state in ['unknown', 'unavailable'] %}
          n/a
        {% elif door_state == 'open' %}
          n/a
        {% elif vehicle == 'on' %}
          Yes
        {% else %}
          No
        {% endif %}

  ## Jen's garage
  - sensor:
    - name: "Garage2 Status"
      unique_id: garage2_status
      state: >
        {% set door_state = states('cover.jen_garage_door') %}
        {% if door_state in ['unknown', 'unavailable'] %}
          n/a
        {% else %}
          {{ door_state | title }}
        {% endif %}

    - name: "Garage2 Car Present"
      unique_id: garage2_car_present
      state: >
        {% set door_state = states('cover.jen_garage_door') %}
        {% set vehicle = states('binary_sensor.og_jen_vehicle') %}
        {% if door_state in ['unknown', 'unavailable'] %}
          n/a
        {% elif door_state == 'open' %}
          n/a
        {% elif vehicle == 'on' %}
          Yes
        {% else %}
          No
        {% endif %}

  ## Alarm panel
  - sensor:
    - name: "Alarm Status"
      unique_id: alarm_status
      state: >
        {% set display = states('sensor.ser2sock_10000_alarm_panel_display') %}
        {% if display in ['ARMED ***AWAY***** ALL SECURE **', 
                         'ARMED ***STAY***                ',
                         '***NIGHT-STAY***                '] %}
          Armed
        {% else %}
          Disarmed
        {% endif %}

  ## Weekday
  - sensor:
    - name: "Weekday"
      unique_id: weekday
      state: "{{ now().weekday() < 5 }}"

